div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;   
    margin-right: 0.5em;
}

div.pager span.number {
    background: #216aaf;
    color: #fff;
}

div.pager span.active {
    background: #e6f1fb;
    color:#216aaf;
}
